[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/ImGui"]
	path = libs/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/portaudio"]
	path = libs/portaudio
	url = https://github.com/PortAudio/portaudio.git
